@font-face {
    font-family: MilkyExtralight;
    src: url('../fonts/FontStylelighter.ttf');
}
@keyframes VRLoop {
    from
    {
        background-position: 0 0 ;
    }
    to
    {
        background-position:0 100% ;
    }
}
.HeadNavi
{
    width           : 100%;
    background-color: rgb(30, 32, 33);
    >div{
        width          : 1200px;
        height         : 40px;
        margin         : 0 auto;
        display        : flex;
        justify-content: space-between;
        box-sizing     : border-box;
        >ul
        {
            display: flex;
            li
            {
                line-height : 40px;
                margin-right: 20px;
                &>a{
                    color: #9b9b9b;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
}
.AppIconTitle
{
    display        : flex;
    justify-content: space-between;
    width          : 160px;
    >img
    {
        width : 40px;
        height: 40px;
    }
    >span
    {
        font-family: "MilkyExtralight";
        font-size  : 25px;
        font-weight: bold;
        line-height: 40px;
        color      : #407BFF;
    }
}
.VRAnimation
{
    position     : absolute;
    height       : 50px;
    width        : 50px;
    overflow     : hidden;
    border       : 1px solid white;
    border-radius: 50%;
    background   : url('../img/vr-animation.png') no-repeat;
    animation    : VRLoop 3.5s steps(53) infinite;
}
