$_WIDTH:1200px;
.Community
{
    display       : flex;
    flex-direction: column;
    align-items   : center;
    .C_Navi
    {
        width           : 100%;
        height          : 200px;
        // background-color: #40a9ff;
    }
    .Crowd
    {
        width : 100%;
        height: 100%;
    }
    .C_Main
    {
        width     : $_WIDTH;
        display   : flex;
        box-sizing: border-box;
    }
}
