@keyframes SoundWaveAnimate {
    20%{
        transform: scale(120%);
    }50%{
        transform: scale(90%);
    }70%{
        transform: scale(110%);
    }100%{
        transform: scale(100%);
    }
}
@keyframes SoundWaveBorderAnimate {
    to{
        transform: scale(150%);
        opacity  : 0;
    }
}

.HConsultWrapper{
    .OpenChat{
        position  : fixed;
        right     : 40px;
        bottom    : 20px;
        box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
        >span{
            font-size  : 30px;
            line-height: 59px;
        }
    }
    .ant-btn-icon-only.ant-btn-lg {
        width : 60px;
        height: 60px;
    }
}
.ant-popover{
    position: fixed;
}
.HConsult{
    width     : 370px;
    height    : 530px;
    .ant-card-body{
        position: relative;
        padding : 0;
        height  : 470px;
        .Consulting{
            width           : 100%;
            height          : 420px;
            overflow-y      : auto;
            >audio{
                // display: none;
            }
            ul >li{
                clear        : both;
                box-sizing   : border-box;
                padding      : 10px;
                margin-bottom: 10px;
                max-width    : 250px;
            }
            .YourMessage{
                float           : right;
                border-radius   : 10px 0 10px 10px;
                background-color: rgb(57, 106, 255);
                color           : white;
            }
            .OtherMessage{
                float           : left;
                border-radius   : 0 10px 10px 10px;
                background-color: rgb(234, 240, 246);
            }
            .SystemMessage{
                font-size: 14px;
                color    : rgb(123, 152, 182);
            }
        }
        .MessageInput{
            width   : 100%;
            height  : 40px;
            position: absolute;
            bottom  : 0;
            >input{
                width     : 230px;
                height    : 100%;
                border    : none;
                outline   : none;
                box-sizing: border-box;
                padding   : 5px;
                font-size : 17px;
                &::placeholder{
                    color: rgb(123, 152, 182);
                }
            }
            >button{
                color        : rgb(57, 106, 255);
                border-radius: 100%;
                &:hover{
                    background-color: rgb(123, 152, 182,.2)
                }
            }
        }
    }
}
.EmojiList{
    box-sizing     : border-box;
    padding        : 10px;
    >ul:nth-child(1){
        display  : flex;
        flex-wrap: wrap;
        width    : 300px;
        >li{
            box-sizing: border-box;
            padding: 3px;
            border-radius: 5px;
            &:hover{
                background-color: rgba(1,1,1,.1);
            }
        }
    }
    .ant-pagination{
        display        : flex;
        justify-content: center;
    }
}
.RecordingVoice{
    position  : relative;
    box-sizing: border-box;
    padding   : 10px;
    .SoundWave{
        width        : 100%;
        height       : 100%;
        border-radius: 100%;
        top          : 0;
        left         : 0;
        position     : absolute;
        background-color: rgb(234, 240, 246);
        animation    : SoundWaveAnimate .7s ease-in infinite;
    }
    .SoundWaveBorder{
        width        : 100%;
        height       : 100%;
        position     : absolute;
        top          : 0;
        left         : 0;
        border-radius: 100%;
        opacity      : .6;
        transform    : scale(75%);
        border       : 1px solid rgb(123, 152, 182);
        animation    : SoundWaveBorderAnimate .9s ease-out infinite;
    }
}
