.ConstDivSetting
{
    box-sizing: border-box;
    width     : 1200px;
    margin    : 0 auto;
    >div
    {
        box-sizing: border-box;
    }
}
.Ant-ReWriteRadioGroup
{
    .ant-form-item
    {
        margin-bottom: 5px;
    }
    .ant-radio-button-wrapper
    {
        border    : none;
        box-shadow: none;
        &::before
        {
            display: none;
        }
    }
}
.HFilter
{
    @extend .ConstDivSetting;
    margin-top: 20px;
    .HSearch
    {
        display       : flex;
        flex-direction: column;
    }
    .ant-form-item-label
    {
        font-weight: 600
    }
    .VisibleOption
    {
        @extend .Ant-ReWriteRadioGroup;
    }
    .ant-collapse-item
    {
        display       : flex;
        flex-direction: column-reverse;
        .ant-collapse-header
        {
            font-weight: lighter;
            font-size  : 12px;
            color      : #9399a5;
            text-align : center;
        }
        .ant-collapse-content
        {
            @extend .Ant-ReWriteRadioGroup;
            .ant-collapse-content-box
            {
                padding: 0;
            }
        }
    }
    .TotalAndClean
    {
        display        : flex;
        justify-content: space-between;
        box-sizing     : border-box;
        padding-right  : 200px;
        >span
        {
            line-height: 32px;
        }
    }
}
.HouseList
{
    @extend .ConstDivSetting;
    padding-bottom: 20px;
    .HouseItem_Wrapper
    {
        display  : flex;
        padding  : 20px;
        max-width: 1000px;
        .ant-card-cover >img
        {
            width : 235px;
            height: 175px;
        }
        .ant-card-body
        {
            width: 100vw;
            padding:  0 0 0 20px;
            .ant-card-meta-title
            {
                font-size  : 22px;
                font-weight: bold;
                display    : flex;
                align-items: center;
                .ant-tag
                {
                    margin     : 0 0 0 8px;
                    font-weight: normal;
                }
            }
            .HosueItem_Detail
            {
                display        : flex;
                justify-content: space-between;
                .HInfo
                {
                    display       : flex;
                    flex-direction: column;
                    >div
                    {
                        >span
                        {
                            line-height : 21px;
                            margin-right: 5px;
                        }
                        display      : flex;
                        margin-bottom: 10px;
                    }
                }
                .HRent
                {
                    font-size  : 30px;
                    font-weight: 400;
                    color      : #fe615a;
                }
            }
        }
    }
}
.HouseDetailInfo
{
    @extend .ConstDivSetting;
    display       : flex;
    flex-direction: column;
    height: 3000px;
    padding-top: 10px;
    .CarouselAndBaseInfo
    {
        box-sizing     : border-box;
        display        : flex;
        justify-content: space-between;
        .HCarousel
        {
            width          : 525px;
            display        : flex;
            flex-direction : column;
            justify-content: space-around;
            border         : 1px solid #e4e6f0;
            .ant-carousel .slick-slide img
            {
                height: 300px;
            }
        }
        .HBaseInfo
        {
            box-sizing: border-box;
            width     : 600px;
            height    : 500px;
            border    : 1px solid #e4e6f0;
        }
    }
    .TargetBox
    {
        box-sizing      : border-box;
        background-color: #f7f9fb;
        margin-top      : 20px;
        padding         : 20px;
        .ant-anchor
        {
            display       : flex;
            flex-direction: row;
        }
    }
}
