.Journey
{
    width           : 100%;
    height          : 100vh;
    .JourneyContentWrapper
    {
        width : 100%;
        height: 100%;
        .JourneyContent
        {
            width         : 1200px;
            display       : flex;
            box-sizing    : border-box;
            margin        : 0 auto;
            padding-top   : 20px;
            display       : flex;
            flex-direction: column;
            >h1
            {
                font-weight: bold;
            }
            .PassJourney
            {
                width          : 100%;
                height         : 100%;
                display        : flex;
                flex-direction : row;
                justify-content: space-around;
                flex-wrap      : wrap;
            }
        }
        .JourneyWhenEmpty
        {
            width : 1200px;
            >img
            {
                width : 100%;
                height: 440px;
            }
        }
        .JourneyItem
        {
            width         : 390px;
            height        : 410px;
            border-radius : 15px;
            box-sizing    : border-box;
            margin-bottom : 30px;
            display       : flex;
            flex-direction: column;
            box-shadow    : 0 0 5px rgb(1,1,1,.6);
            >img
            {
                border-radius: 15px 15px 0 0;
            }
            >div
            {
                width         : 100%;
                height        : 100%;
                border-radius : 0 0 15px 15px;
                padding       : 10px;
                display       : flex;
                flex-direction: column;
                >h2
                {
                    font-weight: bold;
                    // color: #C7C7C7;
                    >p
                    {
                        margin     : 0;
                        color      : #777777;
                        font-weight: normal;
                        font-size  : 12px;
                    }
                }
                .JourneyExhibitInfo
                {
                    width          : 100%;
                    height         : 60px;
                    display        : flex;
                    justify-content: space-between;
                    align-items    : center;
                    padding        : 5px 0;

                    >img
                    {
                        width        : 50px;
                        height       : 100%;
                        border-radius: 5px;
                    }
                    >p
                    {
                        margin       : 0 0 0 15px;
                        overflow     : hidden;
                        text-overflow: ellipsis;
                        white-space  : nowrap;
                        line-height  : 50px;
                    }
                }
            }
        }
    }
}
.JourneyDetail
{
    width         : 100%;
    height        : 100vh;
    display       : flex;
    flex-direction: column;
    .JourneyDetailContentWrapper
    {
        display       : flex;
        flex-direction: row;
        align-self    : stretch;
        height        : 100%;
        .JourneyDetailInfo
        {
            width         : 800px;
            height        : 100%;
            display       : flex;
            flex-direction: column;
        }
        >div:nth-child(2)
        {
            width: 100%;
        }
    }
}
