.inputContainer
{
    position: absolute;
    z-index : 2;
    width   : 500px;
    top     : 30px;
    left    : 20px;
    display: flex;
    align-items: center;
}
.mapContainer
{
    position: absolute;
    width   : 100vw;
    height  : 100vh;
    z-index : 1;
}
