.U_Collections
{
    width         : 100%;
    height        : 100vh;
    display       : flex;
    flex-direction: column;
    .WishList
    {
        display         : flex;
        width           : 100%;
        height          : 100%;
        justify-content : space-between;
        .ListContent
        {
            >h1
            {
                width      : 100%;
                display    : flex;
                align-items: center;
                font-weight: bold;
                >button
                {
                    margin-right: 20px;
                }
            }
            width         : 100%;
            height        : 100%;
            display       : flex;
            flex-direction: column;
            box-sizing    : border-box;
            padding       : 30px ;
            overflow      : auto;
            box-shadow    : -5px -10px 10px rgba(1,1,1,.2) inset;
            .U_CollectWrapper
            {
                position: relative;
                .HRent
                {
                    font-size: 22px;
                }
            }
            //因为被徽标包裹了,只需要缩小徽标包裹的元素
            // .ant-ribbon-wrapper
            // {
            //     // transform: scale(10%);
            // }
        }
        .MapArea
        {
            width      : 100%;
            height     : 100%;
            box-sizing : border-box;
            margin-left: 20px;
            position   : sticky;
            top        : 0;
        }
    }

    .DeleteCollectBtn
    {
        position: absolute;
        top     : 20px;
        right   : 0;
    }
}
.WishListFolder
{
    display       : flex;
    flex-direction: column;
    height        : 100vh;
    .FolderList
    {
        width  : 100%;
        height : 100%;
        padding: 20px 50px;
        .FolderItem
        {
            width           : 450px;
            height          : 390px;
            border-radius   : 15px;
            background-color: white;
            overflow        : hidden;
            display         : flex;
            flex-direction  : column;
            justify-content : space-between;
            .ant-card-cover
            {
                width : 100%;
                height: 90%;
                .FolderCover
                {
                    width          : 100%;
                    height         : 100%;
                    display        : flex;
                    flex-direction : row;
                    justify-content: space-between;
                    gap            : 3px;
                    >img
                    {
                        width : 100%;
                        height: 100%;
                    }
                }
                .FolderLeft
                {
                    width           : 60%;
                    height          : 100%;
                    img
                    {
                        width : 100%;
                        height: 100%;
                    }
                }
                .FolderRight
                {
                    width           : 40%;
                    height          : 100%;
                    display         : flex;
                    flex-direction  : column;
                    gap             : 3px;
                    >div
                    {
                        width : 100%;
                        height: 100%;
                        img
                        {
                            width : 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .ant-card-meta-title
            {
                font-weight: bold;
            }
        }
    }
}
